.container{
    display: table;
}

.element{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: white;
    height: 200px; width:200px;
    color: white; font-size: 2rem;;
}

/* just aesthetics */
.container{
    width:90vw;
    height: 90vh;
    border: 3px solid white;
    margin: auto;
}
  
body{
    height: 100vh;
    display:flex;
    background: azure;
}